<div class="sidebar">
  <a href="{{ '/' | relative_url }}" class="logo">
    <small class="text">Ruby Kaja</small>
  </a>
  <nav class="global-nav">
    <ul>
      {% for item in site.data.menu %}
      <li class="{{ item.path | default: item.year }} link">
        {% if item.year %}
        <a href="{{ '/' | append: item.year | append: '/about' | relative_url }}">{{ item.label }}</a>
        {% else %}
        <a href="{{ '/' | append: item.path | relative_url }}">{{ item.label }}</a>
        {% endif %}
      </li>
      {% endfor %}
    </ul>
  </nav>
  <span class="copy">
    &copy; 2012<br>
    RubyKaja Team
  </span>
</div>
